<form class="border border-red-500" [formGroup]="fShoppingList">
  <div class="grid grid-rows-5 gap-2 py-5">
    <div class="grid grid-cols-2">
      <div class="flex justify-start">
        <listname-field></listname-field>
      </div>
      <div class="flex justify-end">
        <span class="italic text-sm">
          Costo total:
          <span class="text-4xl">${{ totalCost | number : "1.0-2" }}</span>
        </span>
      </div>
    </div>
    <div class="form-control col-span-auto">
      <input type="text" placeholder="Producto" formControlName="name" />
    </div>
    <div class="grid grid-cols-5 gap-2">
      <div class="form-control col-span-3">
        <numeric-field
          #cantiadadField
          [id]="'cantiadadField'"
          [min]="1"
          [max]="1000"
          [placeholder]="'Cantidad'"
        ></numeric-field>
      </div>
      <div class="form-control col-span-2">
        <numeric-field
          #unitCostField
          [id]="'unitCostField'"
          [min]="1"
          [max]="100000"
          [placeholder]="'Costo unitario'"
        ></numeric-field>
      </div>
    </div>
    <div class="form-control">
      <textarea
        placeholder="Descripción del producto"
        formControlName="description"
      ></textarea>
    </div>
    <div class="grid grid-cols-2 pt-4">
      <button
        class="rounded-full btn-sm text-lg"
        title="Guardar"
        (click)="onSave()"
      >
        <i class="bi bi-floppy2-fill"></i>
      </button>
      @if(!editMode){
      <button
        class="rounded-full btn-sm text-lg"
        title="Agregar"
        (click)="onAdd()"
      >
        <i class="bi bi-plus"></i>
      </button>
      } @else{
      <button
        class="rounded-full btn-sm text-lg"
        title="Actualizar"
        (click)="onUpdate()"
      >
        <i class="bi bi-arrow-bar-up"></i>
      </button>
      }
    </div>
  </div>
</form>
