@if(toast){
<div
  class="toast-wrapper"
  [class.closing]="closing"
  (click)="dismiss()"
>
  <div class="toast-body" [ngClass]="{
    'toast-success': toast.type === 'success',
    'toast-error': toast.type === 'error',
    'toast-info': toast.type === 'info'
  }">
    <i [class]="icon" class="toast-icon"></i>
    <span class="toast-text">{{ toast.text }}</span>
  </div>
  <div
    class="toast-progress"
    [ngClass]="{
      'progress-success': toast.type === 'success',
      'progress-error': toast.type === 'error',
      'progress-info': toast.type === 'info'
    }"
    [style.animation-duration.ms]="duration"
  ></div>
</div>
}
